<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Coopération Agricole</title>
    <meta charset="UTF-8">
</head>
<body>
<header>
    <h1>Bienvenue sur la plateforme agricole</h1>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/orders">Mes Commandes</a></li>
            <li><a href="/placeOrder">Passer une commande</a></li>
        </ul>
    </nav>
</header>

<main>
    {{content}}
</main>

<footer>
    <p>© 2025 Coopération Agricole</p>
</footer>
</body>
</html>
