<!DOCTYPE html>
<html lang="fr">
<link rel="stylesheet" href="/src/main/views/style/style.css">
<head>
    <title>Coopération Agricole</title>
    <meta charset="UTF-8">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/products">Produits</a></li>
            <li><a href="/placeOrder">Passer une commande</a></li>
            <li><a href="/orders">Mes Commandes</a></li>
            <li><a href="/login">Se Connecter</a></li>
        </ul>
    </nav>
</header>

<main>
    {{content}}
</main>

<footer>
    <p>© 2025 Coopération Agricole - ALLASIO | GONCALVES | GURREA | GUILLERM</p>
</footer>
</body>
</html>
